.cuadro {
  width: 50px;
}

.c-1 {
  float: left;
  margin-right: 60px;
}

.c-2 {
  text-align: left;
  width: 700px;
  float: right;}

.parte-1 {
  width: 33%;
  text-align: left;
  float: left;
}

.abajo {
  margin-top: 40px;
}

b {
  font-size: 25px;
}