img {
    width: 200vw;
    margin: 30px;
}

.c-1 {
    width: 200vw;
    float: left;
    margin: 80px;
}

.c-2 {
    width: 200vw;
    float: left;
    margin: 80px;
}

.c-3 {
    width: 200vw;
    float: left;
    margin: 80px;
}