table {
  border-collapse: collapse;
  font-family: 'Lucida Sans Regular';
}

.c-1,
.fila-1 {
  text-align: center;
  background-color: rgb(245, 245, 245);
}

td,
th {
  border: Solid 1px;
  border-color: rgb(234, 234, 234);
  text-align: right;
}

.tittle {
  background-color: rgb(250, 200, 0);
  padding: 15px;
  color: grey;
  font-size: 30px;
  text-align: center;
}

.f-2 {
  background-color: rgba(26, 209, 26, 0.2);
  padding: 10px;
  text-align: center;
}

.articulos {
  text-align: left;
}

.blue {
  border: solid 2px;
  border-color: black;
  background-color: rgb(79, 174, 233);
  text-align: left;
}

.blue-t {
  border: solid 2px;
  border-color: black;
}