.tabla {
  border: solid 1px;
}

th {
  border: solid 1px;
  background-color: rgba(100, 148, 237, 0.158);
  padding: 7px;
  /* text-align: center; */
}

td {
  border: solid 1px;
  text-align: right;
}
/* 

tr:nth-child(even) {
  background-color: #ff6;
} */

tr td:hover {
  background-color: #ff6;
}

#euro {
  color: rgb(241, 221, 33);
}

#dolar,
#yen {
  color: green;
}

#libra {
  color: cadetblue;
}

.fa-solid {
  padding-right: 10px;
}