table {
  border-collapse: collapse;
  font-family: 'Lucida Sans Regular';
}

.fila-1,
.c-1 {
  text-align: center;
  background-color: rgb(245, 245, 245);
}

td {
  border: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  padding: 0px 20px 0px 20px;
}



.tittle {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  background-color: rgba(255, 157, 0, 0.350);
}

.tittle-2 {
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background-color: rgba(255, 217, 0, 0.350);
}

.fila-4 {
  background-color: rgba(120, 251, 87, 0.2);
  text-align: left;
}

.pie-t {
  background-color: lightskyblue;
}

.c-3,
.c-4 {
  text-align: right;
}