.button {
  text-align: center;
}

.tittle {
  text-align: center;
  font-family: georgia, serif;
}

.button {
  text-align: center;
}

b {
  font-family: Arial, Helvetica, sans-serif;
}

input:hover {
  color: black;
  background-color: rgba(255, 8, 8, 0.598);
  text-decoration: underline;
}
