

body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    background-color: rgb(255, 251, 38);
    padding: 15px;
}

h2 {
    background-color: lightsalmon;
    padding: 12px;
    margin-top: -1px;
    margin-right: -12px;
}

h4 {
    background-color: orange;
    color: white;
    font-size: 27px;
    margin: 0px;
    padding: 10px;
    border: solid 3px orange;
}

.column-izq {
    margin: 20px;
    float: left;
    background-color: yellow;
    padding:  0px 10px 20px 0px;
    border: 5px solid orange;
}

.colum-1 {
    width: 200px; 
    float: left;   
    border: 5px solid orange;
    margin-left: 10px;
    border-bottom: 7px solid orange;
    
}

.colum-2 {
    width: 200px;
    float: right;
    border: 5px solid orange;
    margin-left: 30px;
    border-bottom: 7px solid orange;
}



.column-center {
    margin: 20px;
    float: left;
    background-color: yellow;
    padding:  0px 10px 20px 0px;
    border: 5px solid orange;

}



.column-der {
    margin: 20px;
    float: left;
    background-color: yellow;
    padding:  0px 10px 20px 0px;
    border: 5px solid orange;
}

.der-column {
    margin-left: -1px;
}

p {
    padding: 5px;
}