h1 {
  color: orange;
  font-family: 'Lucida Sans Regular';
  margin-right: auto;
  width: 300px;
  float: left;
}

.buscar {
  font-family: verdana;
  margin-left: auto;
  width: 300px;
}

.barra-azul {
  background-color: blue;
}

.column-izq {
  width: 180px;
  float: left;
  margin: 20px;
}

.cuadro-1 {
  padding: 0px 10px 0px 10px;
  border: solid 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgba(238, 238, 238, 0.384);
}

.cuadro-2 {
  padding: 0px 10px 0px 10px;
  border: dotted 1px;
  border-color: orange;
  background-color: rgba(255, 230, 0, 0.267);
}
.column-center {
  width: 550px;
  margin: 0 auto;
  float: left;
  margin: 20px;
}

img {
  float: left;
  margin: 15px;
}

.column-der {
  width: 150px;
  padding: 0px 15px 0px 15px;
  border: solid 1px;
  border-color: orange;
  float: right;
}

.cd-tittle {
  background-color: rgb(255, 183, 49);
  padding: 5px;
  font-size: 25px;
}

.ci-tittle {
  font-size: 20px;
}

.pie {
  border: solid 1px;
  margin-top: 700px;
  border-color: #ececec;
  padding: 5px;
}

.pie-1 {
  text-align: left;
  float: left;
}


.pie-2 {
  text-align: right;
}