table {
  border-collapse: collapse;
  font-family: 'Lucida Sans Regular';
}

td {
  border: solid 1px;
  border-color: hsla(0, 0%, 50%, 0.2);
  padding: 0px 0px 0px 30px;
  text-align: right;
}

.fila-1,
.c-1 {
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.tittle {
  background-color: rgba(255, 255, 0, 0.315);
  padding: 10px;
  font-size: 40px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

th {
  background-color: rgba(255, 94, 0, 0.2);
  text-align: left;
}

.c-f {
  background-color: rgba(0, 128, 0, 0.205);
}